@charset "UTF-8";
/*==========================================================================
# mixins
========================================================================== */
/*==========================================================================
# colors
========================================================================== */
/*==========================================================================
# common - 全体に共通するスタイル
========================================================================== */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header
-------------------------------------------------------------------------- */
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 120px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item + .header-nav-item {
  margin-left: 46px;
}

.header-nav-item-link {
  display: block;
  color: #333333;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;
}

/* footer
-------------------------------------------------------------------------- */
.footer {
  background: #F7F7F7;
  padding: 42px 40px 12px;
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}

.footer-nav-item + .footer-nav-item {
  margin-left: 30px;
}

.footer-nav-item-link {
  font-size: 12px;
  color: #333333;
  display: block;
  padding: 1em 0;
}

.footer-sns-list {
  text-align: center;
}

.footer-sns-item {
  display: inline-block;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

.footer-sns-item-link {
  color: #3EA1D1;
  font-size: 24px;
  display: block;
  padding: .1em .5em;
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
}

/*==========================================================================
# main
========================================================================== */
/* common
-------------------------------------------------------------------------- */
.main {
  padding-top: 70px;
}
